header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.header_logo {
    height: 60px;
    width: 140px;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 20px;
}