.places h1, h2{
    font-size: 30px;
}

.articles {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
article {
    width: 390px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
}